.form_container {
  width: 100%;
  border: 1px solid black;

  h2 {
    font-size: 24px;
  }

  /* Style the input element */
  input[type="file"] {
    margin-top: 20px;
    padding: 10px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="file"]:hover {
    background: #0056b3;
  }
}

.pdf_from_backend {
  width: "70%";
  margin: "auto";
}

.upload_form {
  border: 10px solid rgb(239, 67, 67);
}

.submitBtn {
  margin-top: 10px;
}

form {
  border: 1px solid red;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
